<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dailymilkcalculator">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".initData"
            android:label="@string/title_activity_init_data"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Transaction_Main" />
        <activity android:name=".Sync_settings" />
        <activity android:name=".Transaction" />
        <activity
            android:name=".Register"
            android:label="Register" />
        <activity
            android:name=".Main_center"
            android:label="@string/title_activity_main_center"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Collection_List"
            android:label="@string/title_activity_collection__list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <supports-screens>
        android:resizeable="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:anyDensity="true"
    </supports-screens>

</manifest>